.header-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 4.5%;
    padding: 10;
    border-bottom: 1px solid #e2e2e2;
    background-color: #fff;
}

 .image{
     
display: flex;
-ms-flex-align: center;
width:100%;
height:100%;
margin-left: auto;
margin-right: auto;

}
.three a{
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.material-icons{
    color: black;
}

.figcaption {
    display: flex;
    -ms-flex-align: start ;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.two {
    width: 32%;
    margin: 0 auto;
}

.three {
    width: 55%;
    margin: 0 auto;

}

.header-img {
    width: 62%;
    margin: 0 auto;

}

.container{
display: flex;
justify-content: space-around;
width:945px;
height:576px;
flex-wrap: wrap;
}

.flex{
font-size: 14px;
line-height: 1rem;
word-spacing: 1px;
font-family: arial,helvetica,sans-serif;
margin-top: 50px;
width: 24%; 
}

.inflation{
    font-family: arial,helvetica,sans-serif;
    margin: 5px auto;
    font-size: 14px;
 
    line-height: 1rem;
}


.subtitle{
    margin: 5px auto;
    font-size: 16px;
   
    color: rgb(102, 102, 102);
    line-height: 1rem;
}

#ytvideo {
    display: flex;
    align-content: center;
    width: 600px;
    height: 319px;    
    margin: 10px auto;
}

#center-nav {
    width: 200px;
    height: 30px;
}

.img-subtitle {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 1rem;
    color: rgb(102, 102, 102);
    text-decoration: none;
}



.image-box2 .image2 {
    position: static;
    display: flex;
    -ms-flex-align: center;
    width:600px;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    
}

p{
    font-family: nyt-imperial, georgia, "times new roman", serif;
    text-align: left;
    font-size: 1.25rem;
}

#spacencos {
    font-family: nyt-franklin, Arial, sans-serif;
    font-weight: bolder;
    font-size: 14.5px;
    color: black;
    letter-spacing: 0.6px;
    text-decoration: none;
    vertical-align: baseline;
}

h1{
    margin: auto;
    font-family: nyt-cheltenham, Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

footer{
    clear: both;
    position: relative;
    width: 55%;
    margin: 0 auto;
}
.footer-box{
    background-color: white;
    border-top: 3px solid rgb(211, 209, 209);
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(7, 1fr);
    line-height: 1rem;
}
.footer-title{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer-title2{
    border-left: 2px solid rgb(211, 209, 209);
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    flex-wrap: wrap;
}

.foot{
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 13px;
    margin: 5px;
    
}

.copyr{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: rgb(29, 29, 29);
    font-size: 12px;
    
}
.font500 {
    font-weight: bold;
}

 .btn  {
    background-color: rgb(86, 123, 149);
    border: rgb(50, 104, 145);
    font-family: nyt-franklin, helvica, arial, sans-serif;

}

.image2{

position: absolute;

}

.inf-img{
    margin-top: 50px;
    width: 100%; 
    }

    